{% extends "blog/index.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted | date:"j E, Y G:i" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
{#            <p class="article-content">{{ post.content }}</p>#}
          </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block options %}
<div class="row my-3">
  <form action="{% url 'blog-home' %}" method="GET" id="sorting_form">
    <span class="text-muted pr-2">Sortuj od</span>
    <select name="ascending" onchange="document.getElementById('sorting_form').submit()">
      <option value="false" {% if not ascending_dates %} selected{% endif %}>Najnowszych</option>
      <option value="true" {% if ascending_dates %} selected{% endif %}>Najstarszych</option>
    </select>
  </form>
</div>
{% endblock options %}

{#TODO: przetlumaczyc na polski#}